<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/libs/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/libs/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/style.css">
    <script src="/libs/jquery-3.3.1.min.js"></script>
    <script src="/libs/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <header style="border-top: solid 10px #9c1010; padding-top:10px">
        <div class="container" style="padding-bottom: 10px">
            <div class="row">
                <div class="col-md-6">
                    <a href="http://localhost:5000/">
                        <img class="header-img" src="https://ctt-daotao.hust.edu.vn/Images/logo-cttdt.png" alt="">
                    </a>
                </div>
                <div class="col-md-6">
                    <form class="form-inline search-box">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light menu" style="padding-left: 250px;">



            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <span>
                    <a class="navbar-brand" href="http://localhost:5000/">Trang chủ</a>
                </span>
                <div class="navbar-nav">
                    <span>
                        <a class="nav-item nav-link active" href="#">Đào tạo đại học </a>
                        <nav class="menu vertical-menu">
                            <span>
                                <a href=""> Quy định - Quy chế</a>
                            </span>
                            <span>
                                <a href="">Các ngành đào tạo</a>
                            </span>
                            <span>
                                <a href="">Kế hoạch học tập</a>
                            </span>
                            <span>
                                <a href="">Quản lý phòng học</a>
                            </span>
                            <span>
                                <a href="">Tin tức thông báo</a>
                            </span>
                            <span>
                                <a href="">Tuyển sinh</a>
                            </span>
                            <span>
                                <a href="">Chương trình đặc biệt</a>
                            </span>
                            <span>
                                <a href="">Liên hệ</a>
                            </span>

                        </nav>
                    </span>
                    <span>
                        <a class="nav-item nav-link" href="#">Đào tạo sau đại học</a>
                        <nav class="menu vertical-menu">
                            <span>
                                <a href=""> Tuyển sinh</a>
                            </span>
                            <span>
                                <a href="">Đào tạo</a>
                            </span>
                            <span>
                                <a href="">Mẫu giấy tờ</a>
                            </span>
                            <span>
                                <a href="">Văn bản và quy chế</a>
                            </span>
                            <span>
                                <a href="">Thông tin văn bằng</a>
                            </span>

                            <span>
                                <a href="">Trang thông tin cá nhân</a>
                            </span>
                            <span>
                                <a href="">Liên hệ</a>
                            </span>

                        </nav>
                    </span>
                    <span>
                        <a class="nav-item nav-link" href="#">Công tác sinh viên</a>
                        <nav class="menu vertical-menu">
                            <span>
                                <a href=""> Thông báo</a>
                            </span>
                            <span>
                                <a href="">Hỏi đáp</a>
                            </span>
                            <span>
                                <a href="">HỌC PHÍ</a>
                            </span>
                            <span>
                                <a href="">học bổng và tài trợ</a>
                            </span>
                            <span>
                                <a href="">Việc làm</a>
                            </span>

                            <span>
                                <a href="">Biểu mẫu</a>
                            </span>
                            <span>
                                <a href="">Quy định</a>
                            </span>
                            <span>
                                <a href="">Liên hệ</a>
                            </span>
                        </nav>
                    </span>
                    <span>
                        <a class="nav-item nav-link disabled" href="#">Tra cứu văn bằng</a>
                    </span>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        {{{body}}}
    </div>

    <footer>
        <p>Project nhóm 9</p>
    </footer>
</body>

</html>