<h1>add student to class</h1>

<form action="" method="post">
    <input type="text" name="ClaName" id="">
    <input type="text" name="StuID" placeholder="StuID" id="">
    <button type="submit">Gui</button>
</form>