<h1>Các môn học trong chương trình</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên môn học</th>
            <th scope="col">Mã Môn học</th>
            <th scope="col">Phòng</th>
            <th scope="col">Số tín chỉ</th>
            <th scope="col">Thời gian bắt đầu</th>
            <th scope="col">Thời gian kết thúc</th>


        </tr>
    </thead>
    <tbody>
        {{{Data}}}

    </tbody>
</table>