<h1>AllTeacher</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">DoB</th>
            <th scope="col">ID</th>
            <th scope="col">Intitution</th>
            <th scope="col">Level</th>

            <th scope="col">City</th>
            <th scope="col">Province</th>

        </tr>
    </thead>
    <tbody>
        {{{Data}}}

    </tbody>
</table>