<h1>Tạo điểm cho học sinh</h1>

<p>Hãy nhập điểm giữa kỳ, cuối kỳ, mã số sinh viên,mã số môn học vào các ô chính xác</p>
<form method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Điểm giữa kỳ</label>
            <input name="Mid_termScore" type="number" class="form-control" placeholder="Mid-term Score">
        </div>
        <div class="form-group col-md-6">
            <label>Điểm cuối kỳ</label>
            <input name="Final_termScore" type="number" class="form-control" placeholder="Final Score">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>MSSV</label>
            <input name="StuID" type="number" class="form-control" placeholder="Student ID">
        </div>
        <div class="form-group col-md-6">
            <label>Mã môn học</label>
            <input name="SubID" type="text" class="form-control" placeholder="Subject ID">
        </div>
    </div>

    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Tôi cam đoan điều tôi nhập là đúng
            </label>
        </div>
    </div>
    <button onclick="myFunction()" type="submit" class="btn btn-primary">Tạo</button>
</form>

<script>
    function myFunction() {
        alert("Đã cập nhật điểm");
    }
</script>