<h1>TeachStatus</h1>

<form method="POST">
    <input name="TeRoom" placeholder="room" type="text" id="">
    <input type="text" placeholder="TeID" name="TeID" id="">
    <input type="text" placeholder="SubID" name="SubID" id="">
    <button type="submit">Gui</button>
</form>