<h1>EduPrograms</h1>

<form action="" method="post">
    <input name="EduName" type="text" placeholder="EduName">
    <input type="text" name="EduID" placeholder="EduID" id="">
    <button type="submit">Gui</button>
</form>