<h1>TeBelongs</h1>

<form action="" method="post">
    <input type="text" name="TeID" placeholder="TeID" id="">
    <input type="text" name="InID" placeholder="InID" id="">
    <button type="submit">Gui</button>
</form>