<h1>EduBelongs</h1>

<form action="" method="post">
    <input type="text" name="InID" placeholder="InID">
    <input type="text" name="EduID" placeholder="EduID" id="">
    <button type="submit">Gui</button>
</form>