<h1>Intitutions</h1>

<form method="POST">
    <input type="text" name="InName" placeholder="InName" id="">
    <input type="text" name="InID" placeholder="InID" id="">
    <input type="text" name="InOffice" placeholder="InOffice" id="">
    <input type="text" name="InEmail" placeholder="InEmail" id="">
    <input type="number" name="InPhone" placeholder="InPhone" id="">
    <button type="submit">Gui</button>
</form>