<h1>ClassBelongs</h1>

<form action="" method="post">
    <input type="text" name="ClaName" placeholder="ClaName" id="">
    <input type="text" name="EduID" placeholder="EduID" id="">
    <button type="submit">Gui</button>
</form>