<h1>Score</h1>

<form method="POST">
    <input placeholder="mid" type="number" name="Mid_termScore" id="">
    <input placeholder="final" type="number" name="Final_termScore">
    <input placeholder="StuID" type="number" name="StuID">
    <input placeholder="SubID" type="text" name="SubID" id="">
    <button type="submit">Gui</button>
</form>