<h1>StuBelongs</h1>

<form action="" method="post">
    <input type="text" name="ClaName" placeholder="ClaNam" id="">
    <input type="text" name="StuID" placeholder="StuID" id="">
    <button type="submit">Gui</button>
</form>