<h1>CreateSubject</h1>

<form method="POST" action="/createsubject">
    <input placeholder="room" type="text" name="Room" id="">
    <input placeholder="starttime" type="date" name="starttime" id="">
    <input type="date" name="endtime" placeholder="endtime">
    <input type="text" name="SubID" placeholder="SubID">
    <input type="text" name="SubName" placeholder="SubName">
    <input type="text" name="SubCredits" placeholder="SubCredits" id="">
    <input type="text" name="SubCreditsDetails" placeholder="SubCreditsDetails">
    <input type="text" name="StudentsInClass" placeholder="SubName">
    <button type="submit">Gui</button>
</form>