<h2>
    Hien tat ca hoc sinh</h2>

<div class="row">
    <div class="col-md-4">
        <div class="dropdown" style="display:grid">
            <button class="btn  btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu dropdown-button " aria-labelledby="dropdownMenuButton">
                <h3 class="h3">
                    <strong>
                        <a class="dropdown-item" href="http://localhost:5000/createstudent">Thêm thông tin học sinh</a>
                    </strong>
                </h3>
                <h3 class="h3">
                    <strong>
                        <a class="dropdown-item" href="#">Thêm điểm cho học sinh</a>
                    </strong>
                </h3>
                <h3 class="h3">
                    <strong>
                        <a class="dropdown-item" href="#">Thêm thông tin giáo viên</a>
                    </strong>
                </h3>
                <h3 class="h3">
                    <strong>
                        <a class="dropdown-item" href="#">Phân công giảng dạy</a>
                    </strong>
                </h3>
                <h3 class="h3">
                    <strong>
                        <a class="dropdown-item" href="#">Thêm môn học</a>
                    </strong>
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dropdown">
            <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dropdown">
            <button class="btn  btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
</div>


<h1>
    <a href="http://localhost:5000/createstudent">Tao Hoc Sinh</a>
</h1>
<h1>
    <a href="http://localhost:5000/createscore">Tao Diem cho Hoc Sinh</a>
</h1>
<h1>
    <a href="http://localhost:5000/createsubject">Tao mon hoc</a>
</h1>
<h1>
    <a href="http://localhost:5000/createteacher">Tao giao vien</a>
</h1>
<h1>
    <a href="http://localhost:5000/createteach">Tao trang thai giang day</a>
</h1>
<h1>
    <a href="http://localhost:5000/createintitution">Tao Vien</a>
</h1>
<h1>
    <a href="http://localhost:5000/createtebelongs">Tao moi quan he giua giao vien va Vien</a>
</h1>
<h1>
    <a href="http://localhost:5000/createeduprograms">Tao nganh</a>
</h1>
<h1>
    <a href="http://localhost:5000/createedubelongs">Tao moi quan he giua vien va nganh</a>
</h1>
<h1>
    <a href="http://localhost:5000/createclass">Tao Lop</a>
</h1>
<h1>
    <a href="http://localhost:5000/createclassbelongs">Tao moi quan he giua lop va nganh</a>
</h1>
<h1>
    <a href="http://localhost:5000/createstubelongs">tao moi quan he giua lop va hoc sinh</a>
</h1>

$()