<h1>AAAAAAAAAAAAAA</h1>

<h2>Hien tat ca hoc sinh</h2>

<div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
        <div class="ros">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm">

    </div>
</div>


<h1>
    <a href="http://localhost:5000/createstudent">Tao Hoc Sinh</a>
</h1>
<h1>
    <a href="http://localhost:5000/createscore">Tao Diem cho Hoc Sinh</a>
</h1>
<h1>
    <a href="http://localhost:5000/createsubject">Tao mon hoc</a>
</h1>
<h1>
    <a href="http://localhost:5000/createteacher">Tao giao vien</a>
</h1>
<h1>
    <a href="http://localhost:5000/createteach">Tao trang thai giang day</a>
</h1>
<h1>
    <a href="http://localhost:5000/createintitution">Tao Vien</a>
</h1>
<h1>
    <a href="http://localhost:5000/createtebelongs">Tao moi quan he giua giao vien va Vien</a>
</h1>
<h1>
    <a href="http://localhost:5000/createeduprograms">Tao nganh</a>
</h1>
<h1>
    <a href="http://localhost:5000/createedubelongs">Tao moi quan he giua vien va nganh</a>
</h1>
<h1>
    <a href="http://localhost:5000/createclass">Tao Lop</a>
</h1>
<h1>
    <a href="http://localhost:5000/createclassbelongs">Tao moi quan he giua lop va nganh</a>
</h1>
<h1>
    <a href="http://localhost:5000/createstubelongs">tao moi quan he giua lop va hoc sinh</a>
</h1>

$()