<h1>Student Score</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Subject Name</th>
            <th scope="col">Midterm Score</th>
            <th scope="col">Finalterm Score</th>
            <th scope="col">Average Score</th>

        </tr>
    </thead>
    <tbody>
        {{{Data}}}

    </tbody>
</table>