<h1>Bảng điểm môn học: {{Subject}}</h1>

<h3>Giảng viên {{LastName}} {{FirstName}}</h3>

<table class="table ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên</th>
            <th scope="col">Họ</th>
            <th scope="col">MSSV</th>
            <th scope="col">Lớp</th>

            <th scope="col">Điểm giữa kỳ</th>
            <th scope="col">Điểm cuối kỳ</th>
            <th scope="col">Điểm trung bình</th>

        </tr>
    </thead>
    <tbody>
        {{{Data}}}
    </tbody>
</table>